<div class="long80">
    <p style="text-align: center;"><strong><span style="color: #4697e3; font-size: 30px;">Стоимость транспортировки
                больных зависит от множества факторов таких как:</span></strong></p>
    <br>
    <ul style="text-align: justify;">
        <li> расстояние между пунктами транспортировки;</li>
        <li> времени нахождения в пути автомобиля;</li>
        <li> времени суток;</li>
        <li> срочность заказа;</li>
        <li> загруженность дорог и погодные условия;</li>
        <li> вес пациента;</li>
        <li> состояние здоровья пациента;</li>
        <li> желаемое положение при транспортировке (сидя, лёжа);</li>
        <li> необходимость сопровождения медицинским персоналом с возможным проведение манипуляций;</li>
        <li> временем ожидания автомобиля во время обследования пациента;</li>
        <li> необходимость спуска или подъёма по лестнице;</li>
        <li> тип нужного автомобиля;</li>
        <li> других пожеланий заказчика.</li>
    </ul>
    <br>
    <br>
    <p style="text-align: center; padding-bottom: 8px;">Диспетчер внимательно выслушает Вас и выяснит необходимую
        информацию для расчёта стоимости и подбора оптимального варианта.</p>
    <p style="text-align: center; padding-bottom: 8px;" class="texttel"><strong><span
                style="color: #4697e3; font-size: 34px;"><a href="tel:+380112223344" style="color: #4697e3;">+38 (011)
                    222-33-44</a><br></span></strong></p>
    <br>
    <div class="tablediv" style="margin: 0 0 40px;">
        <table class="table3">
            <tbody>
                <tr>
                    <th>Услуга</th>
                    <th>Цена</th>
                </tr>
                <tr>
                    <td>Транспортировка больных по Киеву</td>
                    <td>от 450 грн</td>
                </tr>
                <tr>
                    <td>Транспортировка больных по Украине</td>
                    <td>от 8,5 грн/км</td>
                </tr>
                <tr>
                    <td class="lasttd">Медобслуживание мероприятий</td>
                    <td class="lasttd">от 200 грн/час</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>