<p style="text-align: center;" class="texttel"><strong><span style="color: #4697e3; font-size: 41px;">Наши контактные
            номера телефонов:<br>
            <a href="tel:+380112223344" style="color: #71bf51; font-size: 32px;">+38 (011)
                222-33-44</a><br></span></strong>
</p>
<br>
<br>
<p style="text-align: center;" class="texttel"><strong><span style="color: #4697e3;">Наша электронная почта:<br>
            <a href="mailto:testemail@gmail.com"
                style="color: #71bf51; font-size: 29px;">testemail@gmail.com</a></span></strong></p>
<br>