<div class="long80">
    <p style="text-align: center;"><strong><span style="color: #4697e3; font-size: 32px;">Услуги по перевозке больных по
                Украине и зарубежью от 450 грн:</span></strong></p>
    <br>
    <ul style="text-align: justify;">
        <li> перевозка больного между больницами;</li>
        <li> перевозка из больницы домой или наоборот;</li>
        <li> доставка на обследование МРТ, УЗИ, КТ в медицинское заведение;</li>
        <li> встреча и перевозка больного из аэропортов, вокзалов;</li>
        <li> медицинское обслуживание различных мероприятий - корпоративов, киносъемок (съемок фильмов и сериалов),
            спортивных соревнований, концертов в черте города и за его пределами (области и пригороде);</li>
        <li> медицинская перевозка с квалифицированным персоналом: врачами, медсестрами;</li>
        <li> предоставление необходимого оборудования для автоперевозок больных.</li>
    </ul>
    <br>
</div>

<div class="child-page-listing long80">
    <p style="text-align: center; padding-bottom: 45px;"><strong><span style="color: blue; font-size: 41px;">Фото
                нашего транспорта:<br></span></strong></p>
    <div class="grid-container">
        <article id="3685" class="location-listing" *ngFor='let img of images'>
            <a class="location-title" href="#"> Перейти в галерею </a>
            <div class="location-image">
                <a href="#">
                    <img class="center-cropped" src={{img}} alt="san francisco"> </a>
            </div>
        </article>
    </div>
</div>

<div class="long80">
    <br>
    <br>
    <h1 style="text-align: justify;"><strong><span style="color: #4697e3; font-size: 24px;">Перевозка лежачих больных:
                цена от 450 грн!</span></strong></h1>
    <p style="text-align: justify;">Согласитесь, что вид услуги "перевозка больного" - это очень ответственный вид
        деятельности, требующий большого опыта работы и высокого уровня профессионализма не только от водителя, но и от
        медицинского персонала, который будет присутствовать при перевозке по городу, Киевской области или Украине.</p>
    <br>

    <p style="text-align: justify;">Мы осуществляем наземные, автомобильные перевозки больных недорого, в кратчайшие
        сроки и безопасно для пациента, ведь знаем, что это основные пункты, которые больше всего интересуют клиентов
        (заказчиков перевозок).
        Так как перевозка больных может быть усложнена различными условиями (дополнительный спуск или подъем больного по
        этажам; переноска по зданию больницы или дома; необходимости подготовки определенного вида носилок или
        инвалидного кресла на колесах для конкретного случая), стоимость перевозки может меняться. Наша компания имеет
        огромный опыт работы в данной сфере и, параллельно, мы продолжаем развивать и усовершенствовать фирменный сервис
        услуги по перевозке больных, выводя его на новый уровень. Вы точно можете доверить перевозку пациента нам, ведь
        можете быть уверены, что медицинская перевозка лежачего больного Киев и Украина (из больницы домой, между
        больницами, на обследование и обратно, за город на дачу) пройдет с максимальным комфортом и безопасностью для
        больного и пассажиров, которые будут сопровождать его в пути.</p>
    <br>
    <h2><span style="color: #4697e3;">Автотранспорт для автоперевозки</span></h2>
    <p style="text-align: justify;">Наши автомобили (транспорт) подготовлен для любого вида недорогой перевозки
        тяжелобольных пациентов даже по не самым наилучшим дорогам, как, к примеру, в пригороде Киева или других городов
        Украины.</p>
    <br>

    <h2><span style="color: #4697e3;">Перевозка по Украине и зарубежью</span></h2>
    <p style="text-align: justify;">Мы готовы осуществить перевозку больного не только по Киеву, Украине, но и по
        зарубежью, забрав из необходимого Вам города (Днепропетровск, Харьков, Одесса, Львов и т.д.) и выполнив его
        доставку туда и обратно.</p>
    <br>

    <h2><span style="color: #4697e3;">Цены на перевозку инвалидов и больных</span></h2>
    <p style="text-align: justify;">Перевозка больного, цена которой точно будет подходящей для Вас, зависит от многих
        параметров при автоперевозке (переноска по лестнице на носилках или спуск в лифте на каталке; сопровождающие
        врачи или медсестры; дополнительные места в медтранспорте), поэтому, чтобы узнать точную стоимость, рекомендуем
        Вас связаться с нами, позвонив по одному из контактных номеров и узнать точную стоимость у нашего диспетчера.
        Так Вы будете уверены, расчет перевозки больного Киев будет выполнен корректно.</p>
    <br>
    <br>
    <p style="text-align: center;  font-size: 40px;" class="texttel"><strong><span style="color: #4697e2;">Узнайте
                стоимость перевозки:<br>
                <a href="tel:+380112223344" style="color: #71bf51; font-size: 40px;">+38(011) 222-33-44; </a> <a
                    href="tel:+380112223344" style="color: #71bf51; font-size: 40px;">+38(011)
                    222-33-44</a></span></strong></p>
    &nbsp;
</div>